@import '~flatpickr/dist/flatpickr.css';
@import '_variables';

*{
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 8% 92%; 
  grid-template-areas: 
  "top"
  "main";
  height: 100vh;
}

header {
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  grid-area: top;
}

main {
  align-items: center;
  background: url(../images/scooby-doo.jpg);
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-wrap: wrap;
  grid-area: main;
  justify-content: center;
  opacity: 0.9;
}

.title {
  font-family: $creepyfont;
  font-size: 2.5em;
  margin: 0.5% 0 0 0.5%;
}

h1 {
  color: #f0a243;
  font-size: 2.5em;
  text-align: center;
}

label {
  color: #f0a243;
}

button {
  align-self: flex-end;
  border-radius: 10%;
  cursor: pointer;
  padding: 5px 15px;
  margin: 10px;
}

// WELCOME PAGE

.error {
  color: red;
}

.welcome-widget {
  background-color: black;
  border-radius: 9%;
  display: flex;
  flex-wrap: wrap;
  height: 20%;
  justify-content: space-between;
  padding: 3em;
  width: 40%;
  button {
    border-radius: 0%;
    font-size: 1em;
    margin: 10px 0 10px 0;
    width: 100%;
  }
}

.display-row {
  display: flex;
  flex-direction: column;
  width: 46%;
  input {
    font-size: 1em;
    height: 2.5em;
    margin-top: 5px;
  }
}

// MANAGER PAGE STYLING

.manager-widget {
  background-color: white;
  border-radius: 8%;
  height: 20%;
  margin: 2%;
  padding: 3%;
  width: 21%;
}

// CUSTOMER PAGE STYLING

.customer-widget {
  background-color: #fafafa;
  border-radius: 8%;
  height: 38%;
  margin: 5% 2%;
  padding: 3% 4% 4% 4%;
  width: 20%;
}

.customer-widget {
  h3 {
    margin-bottom: 5%;
  }
}

.widget-title {
  margin-bottom: 5%; 
}

.booking-scroll {
  height: 100%;
  margin-top: 1%;
}

.booking-list {
  height: 90%;
  overflow-y: scroll;
}

#datepicker {
  border-radius: 4%;
  font-size: 1.1em;
  height: 2em;
  width: 100%;
}

#find-rooms {
  @extend button;
  font-size: 1em;
  height: 3em;
  margin: 10px 0;
  width: 100%;
}

// Make Booking Page 

.booking-widget {
  @extend .manager-widget;
  height: 62%;
  width: 50.5%;
  button {
    margin: 0 0 2% 3%;
    font-size: .8em;
  }

  input {
    margin: 0 2% 0 3%;
  }
}

.available-list {
  @extend .booking-list;
  height: 64%;
}

.widget-title {
  text-align: center;
}

.return-customer {
  border-radius: 0%;
  font-size: 1em;
  margin: 10px 0 10px 0;
  width: 100%;
}