@import '~flatpickr/dist/flatpickr.css';
@import '_variables';

* {
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 90%; 
  grid-template-areas: 
  "top"
  "main";
  height: 100vh;
}

header {
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  grid-area: top;
}

main {
  align-items: center;
  background: url(../images/scooby-doo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  grid-area: main;
  justify-content: center;
  opacity: 0.9;
}

hr {
  width: 100%;
}

.title {
  align-self: center;
  font-family: $creepyfont;
  font-size: 2.75em;
  letter-spacing: 4px;
  margin-left: 3%;
}

h1 {
  color: #f0a243;
  font-size: 2.5em;
  text-align: center;
}

label {
  color: #f0a243;
}

button {
  align-self: flex-end;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 15px;
  margin: 10px;
}

// WELCOME PAGE

.error {
  color: #ff0000;
}

.welcome-widget {
  background-color: #000;
  border-radius: $bordercurve;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3em;
  width: 40%;
  
  button {
    border-radius: 5px;
    font-size: 1em;
    margin: 10px 0 10px 0;
    width: 100%;
  }

  input {
    border-radius: 5px;
  }

  h1 {
    color: #f0a243;
    font-size: 2em;
    text-align: center;
    width: 100%;
  }

  h2 {
    color: #fff;
    font-weight: 100;
    margin-bottom: 2%;
    text-align: center;
    width: 100%;
  }
}

.display-row {
  display: flex;
  flex-direction: column;
  width: 46%;
  
  input {
    font-size: 1em;
    height: 2.5em;
    margin-top: 5px;
  }
}

// MANAGER PAGE STYLING

.four-box {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.manager-widget {
  background-color: #fff;
  border-radius: $bordercurve;
  height: 20%;
  margin: 2%;
  padding: 3%;
  width: 21%;
  display: flex;
  flex-direction: column;
  align-items: center;

  #customer-name {
    width: 67%;
    height: 1.75em;
  }
}

.employee-greeting {
  color: #fff;
  font-size: 2em;
  margin-top: 4%;
}

// CUSTOMER PAGE STYLING

.customer-widget {
  background-color: #fafafa;
  border-radius: $bordercurve;
  margin: 0% 2%;
  padding: 3% 4% 4% 4%;
  
  h3 {
    margin-bottom: 5%;
  } 
}

.my-booking {
  height: 55%;
  width: 25%;
}

.my-spending {
  height: 15%;
  margin-bottom: 5%;
}

.calendar-widget {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.widget-title {
  margin-bottom: 5%; 
  text-align: center;
}

.booking-scroll {
  height: 100%;
  margin-top: 1%;
  width: 100%;
}

.booking-list {
  height: 90%;
  overflow-y: scroll;
}

#datepicker {
  border-radius: 5px;
  font-size: 1.1em;
  height: 2em;
  width: 100%;
}

#find-rooms {
  @extend button;
  border-radius: 5px;
  font-size: 1em;
  height: 3em;
  margin: 10px 0;
  width: 100%;
}

// Make Booking Page 

.booking-widget {
  @extend .manager-widget;
  height: 62%;
  width: 50.5%;
  align-items: normal;
  
  button {
    margin: 0 0 2% 3%;
    font-size: .8em;
  }

  input {
    margin: 0 2% 0 3%;
  }
}

.available-list {
  @extend .booking-list;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .room-detail {
    text-decoration: underline;
  }
}


.return-customer {
  border-radius: 5px;
  font-size: 1em;
  margin: 10px 0 10px 0;
  width: 100%;
}

#blockColorblindContent {
  display: none;
}